<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Factor Tek</title>
</head>
<body>

  <header class="encabezado">
    <div class="container-fluid gx-5 py-3" style=" height: 90px;background-color: #022658;" > 
        <div class="row">
         
      

        </div>
        <div class="enbezado__logo col-2 col-md-2 px-2 px-md-4" style="float:right;" >
  
                <a href="#" class="encabezado__link active">
                    <img src="../../../assets/Facebook_icon-icons.com_66805.png" style="margin-left: 20px;" >
                </a>
             
                <a href="#" class="encabezado__link active" >
                    <img src="./../../assets/iconfinder-social-media-applications-14linkedin-4102586_113786.png" style="margin-left: 20px;">
                </a>
    
        </div>

    </div>
    <div class="container-fluid gx-5 py-3" style="background-color:white;color: black;">
        <div class="row">
            <div class="encabezado__hamburguesa col-2" >
                <a href="#">
                    <img src="./../../../assets/logo.png" alt="menu icon" style="width: 200px;">
                </a>
            </div>
      
            <div class="encabezado__menu-responsive col-10">
  
                    <div class="encabezado__item current col-1"><a href="#">HOME</a></div>
                    <div class="encabezado__item"><a href="#">FINANCIAL SOLUTIONS</a></div>
                    <div class="encabezado__item"><a href="#">ABOUT US</a></div>
                    <div class="encabezado__item"><a href="#">FAQ</a></div>
                    <div class="encabezado__item"><a href="#">REFERRALS</a></div>
                    <div class="encabezado__item"><a href="#">GET STARTED</a></div>
                    <div class="encabezado__item"><a href="#">CONTACT US</a></div>
              
            </div>

