<div class="conatiner form-group">
   <h2>Buscador</h2> 
 <input class="form-control" type="text" [(ngModel)]="wordSearch" (keyup.enter)="searchWord()">
</div>
<section id="post" class="container">
    <div class="row">
        <article class="col-lg-4 col-md-6 col-sm-12 articulo" *ngFor="let post of postList">
            <h3>{{ post.title.rendered}}</h3>
            <img  class="img-fluid" src="{{post.featured.image}}" alt="">
            <div [innerHTML] = "post.excerpt.rendered" class="content">
        
            </div>
        </article>
    </div>
</section>
