/* You can add global styles to this file, and also import other style files */
#post .articulo{
    background-color: aqua;
    border: 5px solid;
    padding: 15px;
}
img{
    width: 100% !important;
    height: auto;
}